*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    margin-top: 30px;
    font-size:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.block{
    display: flex;
    box-sizing: border-box;
    margin: 0px 0px 0px 15px ;

}
.block div{
    
    background-color: #DAF7A6;
    border: 2px solid black;
    margin:45px 15px 0px 0px;
    width: 33.33%;
    height: 176px;
    overflow: auto;
    


}

span{
    width: 150px;
    float: right;
    border: 2px solid black;
    border-top: 0px;
    border-right: 0px;
    text-align: center;
    font-size: 21px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    clear: both;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    
}
#dish1 span{
    background-color:#EC9CE0 ;

}
#dish2 span{
    background-color: #9CD3EC;
}
#dish3 span{
    background-color: #D25D5D;
}

@media (max-width:767px) {
    .block{
        margin-top: 35px;
        display: block;
        
    }
    .block div{
        
        text-align: center;
        align-items: center;
        margin: auto;
        margin-top: 25px;
        width: 70%;
    }
}
@media (min-width:768px) and (max-width:991px){
    .block{
        margin-top:35px;
        display:block;
        
        
    }
    
    #dish1{
        float: left;
        width: 47%;
        margin-bottom: 15px;
        
    }
    #dish2{
        width: 47%;
        float:right;
    }

#dish3{
    width: 97.5%;
    clear: both;
}
}
